<!DOCTYPE html>
<html>
<head>
	<title>Interface Libriweb/Wordpress - ZENOBI</title>
</head>
<body>
	<h1>Test de génération d'une adresse en base</h1>
	{{ dump(order) }}
	{{ dump(orderLine) }}
</body>
</html>